
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
   font-family: $font;
}
h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: calc(60/50);
    color: #000958;
    
}
