.total {
    display: flex;
    padding-top: 20px;
    position: relative;
    font-family: "Inter";
    align-items: center;
   
    &-img {
        position: absolute;
    }
    &-content {
        align-items: center;
        border-radius: 36px;
        padding: 60px 116px 42px 459px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 71px;
        background-color: #1F2130;
    }
    &-number { 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: max-content;

       
        h3 {
            color: #fff;
            font-size: 40px;
            font-weight: 600;
            line-height: calc(50 / 40);
        }
        p {  
            color: #EDEDED;
            font-size: 18px;
            font-weight: 400;
            line-height: calc(30 / 18);
        }
    }
    &-number:nth-child(2) {
        padding: 18px 71px;
        border-left: 1px solid #695454;
        border-right: 1px solid #695454;
    }
  

}
